body {
	background: #333;
	color: #F6F6F6;
	margin: 0;
	font-family: sans-serif;
}
.sitenews {
	background: #3D3D3D;
	border-radius: 5px;
	padding: 5px;
	width: 90%;
	margin: 5px auto 0 auto;
}
.logo, .links {
	width: 50%;
	position: absolute;
	bottom: 0;
	padding: 10px;
}
h1 { font-size: 3em; }
.links { font-size: 1.9em; right: 0; text-align: right; }
a {
	color: #f6f6f6 !important;
	text-decoration: none;
	margin: 0 0 10px 0;
	border-bottom: solid 3px #222;
}
a:hover { border-bottom-color: #2D2D2D; color: #F2F2F2; }
.links h2 { font-size: 0.5em; }
#content h2 { font-size: 1.3em; }
h2 { text-transform: uppercase; }
h1, h2 { margin: 6px 0 0 0; }
.back { width: 80px !important; min-height: 30px; margin-left: 4px; padding: 4px 16px 4px 16px; background: #3D3D3D; }
#content { padding: 5px 2vw 5px 2vw; }
