body { margin: 0; font-family: sans-serif; }

/* header */
header {
	background: #161616;
	color: #fff;
	font-family: monospace; font-size: 2em;
	height: 300px; padding: 10px 10vw 10px 10vw;
	display: flex; align-items:flex-end;
}
header h1 { padding: 0; margin: 0 0 20px 0; font-size: 1.5em !important; }
.linkbox { margin-left: auto; }
.linkbox ul { list-style-type: none; text-align: right; }
.linkbox li { padding-top: 10px; }
.linkbox ul li a { color: #fff !important; font-size: 1em; }
.linkbox ul li p { color: #888; margin: 0; font-size: 0.75em; }

/* content */
.content { padding: 10px 10vw 10px 10vw; }
.content a { color: #000 !important; }
.project-grid {
	padding: 5px 10px 5px 5px; margin: 10px;
	display: grid; grid-gap: 5px 5px; grid-template-columns: 50% 50%;
	background: #161616;
}
.project { background: #242424; color: #fff; padding: 10px; }
.project a { color: #fff !important; }
.project h3 { margin-top: 0; }
#socials { display: flex; text-align: right; }
#socials .text { margin-left: auto; }
/* footer */
footer {
	background: #121212; color: #eee;
	height: 100px; padding: 10px 10vw 10px 10vw;
	display: flex; align-items: center;
}
footer a { color: #ddd !important; }

/* responsive layout */
@media only screen and (max-width: 600px) {
	header { align-items: center; justify-content: center; height: 250px; }
	.linkbox { display:none; }
}
@media only screen and (max-width: 400px) {
	.project-grid { display: block; padding: 5px; text-align: center; }
	#socials { display: block; text-align: center; }
	#socials ul    { margin: 0; padding: 0; }
	#socials img   { display: none; }
	#socials .text { margin-left: 0; }
}
